.icon {
	height: 35%;
	width: 35%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border: none;
}

html {
	background: black;
	color: white;
}

.par {
	padding-left: 10%;
	padding-right: 10%;
}

input[type="button"] {
	background: transparent;
	border: none;
	font-size: 1em;
}

.topButton {
	padding: 18px;
	border: solid 1px white;
}

.topButton:hover {
	background: #333;
}

.topButton:active {
	background: #fff;
}

.topButtonGroup {
	border-spacing: 10px;
	margin-right: auto;
	margin-left: auto;
}

.thumbnail {
	width: 40%;
	border: none;
	padding-left: 10%;
}

.button {
	padding: 16px;
	border: solid 1px #e2ffff;
	background: black;
}

.button:hover{
	background: #002626;
}

.button:active {
	background: #00dcff;
}

.buttonGroup {
	border-spacing: 10px;
}