html {
	background: #111;
	color: white;
}

table {
	border: 1px solid white;
	margin-left: auto;
	margin-right: auto;
	background: black;
}

input[type="text"] {
	background: #000;
	padding: 20px 30px;
	font-size: 24px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
}

input[type="button"] {
	width: 100%;
	padding: 20px 40px;
	background-color: black;
	color: white;
	font-size: 24px;
	font-weight: bold;
	border: 1px dotted white;
	border-radius: 5px;
}

input[type="button"]:active{
	width: 100%;
	padding: 20px 40px;
	background-color: white;
	color: white;
	font-size: 24px;
	font-weight: bold;
	border: 1px dotted white;
	border-radius: 5px;	
}